.navBar {
    font-family: monospace;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    background-color: #402b57;
}

.img>bingus.webp {
width : 200px;
}

a {
    color: rgb(174, 174, 255);
    
}
a:active {
    color: white;
}

a:hover {
    color: pink;
}